@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

:root {
  font: 16px / 1 sans-serif;
  font-family: 'Lora', serif;
  --main-bg-color: #a9bcd0;
  --main-accent-color: whitesmoke;
  --main-font-color: #373f51;
}

html {
  height: 100%;
  background: darkblue;
  /* background: #1b1b1e; */
  color: var(--main-font-color);
}

body {
  margin: 3rem;
  min-height: 100%;
  /* background: #a9bcd0; */
  border-radius: 2rem;
  background-color: var(--main-bg-color);
}

h1 {
  text-align: center;
  margin: 3rem;
  text-shadow: 4px 4px 4px #8b9aab;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ul {
  border: #58a4b0 inset 1rem;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
